# Eclipse project data
.project
.cproject
.pydevproject
.externalToolBuilders/
*.pydevproject
.metadata
.settings/**

# Build files
.qmake.cache
Makefile
Makefile.*
Tkacz.app/**
CMakeFiles/**/*
**/CMakeFiles/**
CMakeCache.txt

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Python artifacts
*.py[cod]

# OS stuff
.DS_Store

# Doxygen files
doc/api/**/*