document.out.aux
document.out.glg
document.out.glo
document.out.gls
document.out.glsdefs
document.out.log
document.out.lot
document.out.out
document.out.pdf
document.out.tex
document.out.toc
document.out.xdy
